
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="card-header">
        <div class="card-actions">
            <button type="button" class="card-action card-toggler" title="Collapse"></button>
            <button type="button" class="card-action card-reload" title="Reload"></button>
            <button type="button" class="card-action card-remove" title="Remove"></button>
        </div>
        <strong>DataTables Buttons</strong>
    </div>
    <div class="card-body">
        <table id="demo-datatables-responsive-2" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                    <th>Extn.</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger</td>
                    <td>Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                    <td>5421</td>
                    <td>t.nixon@datatables.net</td>
                </tr>
                </tbody>
        </table>
    </div>
</div>

