USE [CMS]
GO
/****** Object:  Trigger [TR_CategoryDelete]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TRIGGER [CMS].[TR_CategoryDelete]
GO
/****** Object:  StoredProcedure [dbo].[CategoryMappingUpdate]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP PROCEDURE [dbo].[CategoryMappingUpdate]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims] DROP CONSTRAINT [FK_dbo.AspNetRoleClaims_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [CMS].[ContentMapping] DROP CONSTRAINT [FK_CMS.ContentMapping_CMS.Language_LanguageId]
GO
ALTER TABLE [CMS].[ContentMapping] DROP CONSTRAINT [FK_CMS.ContentMapping_CMS.Content_ContentId]
GO
ALTER TABLE [CMS].[CategoryMapping] DROP CONSTRAINT [FK_CMS.CategoryMapping_CMS.Language_LanguageId]
GO
ALTER TABLE [CMS].[CategoryMapping] DROP CONSTRAINT [FK_CMS.CategoryMapping_CMS.Category_CategoryId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims] DROP CONSTRAINT [DF__AspNetRoleCl__Id__38996AB5]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [dbo].[Menus]
GO
/****** Object:  Table [dbo].[MenuInRoles]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [dbo].[MenuInRoles]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [dbo].[AspNetRoleClaims]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [CMS].[Language]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [CMS].[Language]
GO
/****** Object:  Table [CMS].[ContentMapping]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [CMS].[ContentMapping]
GO
/****** Object:  Table [CMS].[Content]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [CMS].[Content]
GO
/****** Object:  Table [CMS].[Config]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [CMS].[Config]
GO
/****** Object:  Table [CMS].[CategoryMapping]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [CMS].[CategoryMapping]
GO
/****** Object:  Table [CMS].[Category]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TABLE [CMS].[Category]
GO
/****** Object:  UserDefinedTableType [dbo].[CategoryMappingTableParam]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP TYPE [dbo].[CategoryMappingTableParam]
GO
/****** Object:  Schema [CMS]    Script Date: 07/08/2019 4:03:44 PM ******/
DROP SCHEMA [CMS]
GO
/****** Object:  Schema [CMS]    Script Date: 07/08/2019 4:03:44 PM ******/
CREATE SCHEMA [CMS]
GO
/****** Object:  UserDefinedTableType [dbo].[CategoryMappingTableParam]    Script Date: 07/08/2019 4:03:44 PM ******/
CREATE TYPE [dbo].[CategoryMappingTableParam] AS TABLE(
	[CategoryMappingId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Description] [nvarchar](4000) NULL
)
GO
/****** Object:  Table [CMS].[Category]    Script Date: 07/08/2019 4:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CMS].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](250) NULL,
	[ParentId] [int] NULL,
	[ModuleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CMS.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CMS].[CategoryMapping]    Script Date: 07/08/2019 4:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CMS].[CategoryMapping](
	[CategoryMappingId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Description] [nvarchar](4000) NULL,
 CONSTRAINT [PK_CMS.CategoryMapping] PRIMARY KEY CLUSTERED 
(
	[CategoryMappingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CMS].[Config]    Script Date: 07/08/2019 4:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CMS].[Config](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Keyword] [nvarchar](4000) NULL,
	[Description] [nvarchar](4000) NULL,
	[Logo] [nvarchar](200) NULL,
 CONSTRAINT [PK_CMS.Config] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CMS].[Content]    Script Date: 07/08/2019 4:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CMS].[Content](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentName] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedTime] [datetime] NULL,
 CONSTRAINT [PK_CMS.Content] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CMS].[ContentMapping]    Script Date: 07/08/2019 4:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CMS].[ContentMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContentId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[SubTitle] [nvarchar](200) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_CMS.ContentMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CMS].[Language]    Script Date: 07/08/2019 4:03:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CMS].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[LanguageCulture] [nvarchar](200) NULL,
	[UniqueSeoCode] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedTime] [datetime] NULL,
 CONSTRAINT [PK_CMS.Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [nvarchar](128) NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[Birthday] [datetime] NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuInRoles]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuInRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[MenuId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MenuInRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NULL,
	[Name] [nvarchar](200) NULL,
	[Url] [nvarchar](200) NULL,
	[Icon] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [CMS].[Config] ON 

INSERT [CMS].[Config] ([Id], [Title], [Keyword], [Description], [Logo]) VALUES (1, N'1', N'1', N'1', N'1')
INSERT [CMS].[Config] ([Id], [Title], [Keyword], [Description], [Logo]) VALUES (2, N'1', N'1', N'1', N'1')
INSERT [CMS].[Config] ([Id], [Title], [Keyword], [Description], [Logo]) VALUES (3, N'1', N'1', N'1', N'1')
SET IDENTITY_INSERT [CMS].[Config] OFF
SET IDENTITY_INSERT [CMS].[Language] ON 

INSERT [CMS].[Language] ([Id], [Name], [LanguageCulture], [UniqueSeoCode], [IsActive], [DisplayOrder], [CreatedBy], [CreatedTime]) VALUES (1, N'Tiếng Việt', N'vi-vn', N'vn', 1, 0, NULL, NULL)
INSERT [CMS].[Language] ([Id], [Name], [LanguageCulture], [UniqueSeoCode], [IsActive], [DisplayOrder], [CreatedBy], [CreatedTime]) VALUES (2, N'English', N'en-us', N'en', 1, 1, NULL, NULL)
SET IDENTITY_INSERT [CMS].[Language] OFF
INSERT [dbo].[AspNetRoleClaims] ([Id], [RoleId], [ClaimType], [ClaimValue]) VALUES (N'6a3d05f8-e09e-e911-86e4-b8ca3a97c2d5', N'0d0915ce-2f24-4555-8e83-ba2c4381b6d1', N'1', N'Index')
INSERT [dbo].[AspNetRoleClaims] ([Id], [RoleId], [ClaimType], [ClaimValue]) VALUES (N'6b3d05f8-e09e-e911-86e4-b8ca3a97c2d5', N'0d0915ce-2f24-4555-8e83-ba2c4381b6d1', N'2', N'Index')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'0d0915ce-2f24-4555-8e83-ba2c4381b6d1', N'Administrator', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'3c4e1a4a-0adf-47d4-a29f-27bee1380248', N'User', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'93e661d8-9172-4d99-bbcb-c905372065d4', N'Manager', N'ApplicationRole')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'240de0d4-ade7-417e-a034-9b63cc2de853', N'0d0915ce-2f24-4555-8e83-ba2c4381b6d1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1966c895-c0d4-40d6-b201-47c0dd0228e1', N'3c4e1a4a-0adf-47d4-a29f-27bee1380248')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Balance], [Gender], [Birthday], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1966c895-c0d4-40d6-b201-47c0dd0228e1', N'user', CAST(0.00 AS Decimal(18, 2)), NULL, NULL, N'user@gmail.com', 1, N'ADi/ce4Zdy91UoLy73NATpZ9eHgSXrJ9V7DOHuIU3IB42odXd+xWN+1Yzgcj6xUf/g==', N'b5d6f49d-f2ad-48bc-ad84-e911eee55181', NULL, 0, 0, NULL, 0, 0, N'user')
INSERT [dbo].[AspNetUsers] ([Id], [Name], [Balance], [Gender], [Birthday], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'240de0d4-ade7-417e-a034-9b63cc2de853', N'Tran Duy', CAST(0.00 AS Decimal(18, 2)), NULL, NULL, N'duytran1402@gmail.com', 1, N'AA7RAYKMjhQaWnJPBA8kQFToIqecNaQWb/goehJbxMSFnPzaZmRqyhEzPLlALJvO8A==', N'c058a1e2-dec7-46f7-a961-c4561dc02fda', NULL, 0, 0, NULL, 0, 0, N'admin')
SET IDENTITY_INSERT [dbo].[MenuInRoles] ON 

INSERT [dbo].[MenuInRoles] ([Id], [RoleId], [MenuId]) VALUES (1, N'0d0915ce-2f24-4555-8e83-ba2c4381b6d1', 1)
INSERT [dbo].[MenuInRoles] ([Id], [RoleId], [MenuId]) VALUES (2, N'0d0915ce-2f24-4555-8e83-ba2c4381b6d1', 2)
INSERT [dbo].[MenuInRoles] ([Id], [RoleId], [MenuId]) VALUES (3, N'0d0915ce-2f24-4555-8e83-ba2c4381b6d1', 3)
SET IDENTITY_INSERT [dbo].[MenuInRoles] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [ParentId], [Name], [Url], [Icon], [IsActive], [Order]) VALUES (1, NULL, N'Manage', N'#', N'fa fa-cubes', 1, 1)
INSERT [dbo].[Menus] ([Id], [ParentId], [Name], [Url], [Icon], [IsActive], [Order]) VALUES (2, 1, N'Role', N'/Admin/Roles', N'fa fa-cogs', 1, 1)
INSERT [dbo].[Menus] ([Id], [ParentId], [Name], [Url], [Icon], [IsActive], [Order]) VALUES (3, NULL, N'User', N'/Admin/Users', N'fa fa-users', 1, 2)
SET IDENTITY_INSERT [dbo].[Menus] OFF
ALTER TABLE [dbo].[AspNetRoleClaims] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [CMS].[CategoryMapping]  WITH CHECK ADD  CONSTRAINT [FK_CMS.CategoryMapping_CMS.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [CMS].[Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [CMS].[CategoryMapping] CHECK CONSTRAINT [FK_CMS.CategoryMapping_CMS.Category_CategoryId]
GO
ALTER TABLE [CMS].[CategoryMapping]  WITH CHECK ADD  CONSTRAINT [FK_CMS.CategoryMapping_CMS.Language_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [CMS].[Language] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [CMS].[CategoryMapping] CHECK CONSTRAINT [FK_CMS.CategoryMapping_CMS.Language_LanguageId]
GO
ALTER TABLE [CMS].[ContentMapping]  WITH CHECK ADD  CONSTRAINT [FK_CMS.ContentMapping_CMS.Content_ContentId] FOREIGN KEY([ContentId])
REFERENCES [CMS].[Content] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [CMS].[ContentMapping] CHECK CONSTRAINT [FK_CMS.ContentMapping_CMS.Content_ContentId]
GO
ALTER TABLE [CMS].[ContentMapping]  WITH CHECK ADD  CONSTRAINT [FK_CMS.ContentMapping_CMS.Language_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [CMS].[Language] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [CMS].[ContentMapping] CHECK CONSTRAINT [FK_CMS.ContentMapping_CMS.Language_LanguageId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetRoleClaims_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_dbo.AspNetRoleClaims_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[CategoryMappingUpdate]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CategoryMappingUpdate]
	@Param NVARCHAR(MAX)
AS
BEGIN

	DECLARE @Object AS [CategoryMappingTableParam]
	INSERT INTO @Object EXEC sp_executesql @Param

	MERGE CMS.CategoryMapping Old
	USING @Object New
	ON Old.CategoryMappingId = New.CategoryMappingId
	   AND Old.CategoryId = New.CategoryId
	 
	WHEN MATCHED THEN
		UPDATE SET 
				   Old.CategoryId = New.CategoryId,
				   Old.LanguageId = New.LanguageId,
				   Old.Title = New.Title,
				   Old.[Description] = New.[Description]

	WHEN NOT MATCHED THEN
	INSERT
	(
		CategoryId, LanguageId, Title, [Description]
	)
	VALUES
	(	
		New.CategoryId, New.LanguageId, New.Title, New.[Description]
	);

END
GO
/****** Object:  Trigger [CMS].[TR_CategoryDelete]    Script Date: 07/08/2019 4:03:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [CMS].[TR_CategoryDelete]
   ON  [CMS].[Category]
   FOR DELETE
AS 
BEGIN
	DELETE CMS.CategoryMapping
	WHERE CategoryId = (SELECT Id from deleted)
END
GO
ALTER TABLE [CMS].[Category] ENABLE TRIGGER [TR_CategoryDelete]
GO
