@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pro-fea-inn > ul > li img {
        height: 64px;
    }
</style>
<div class="land-full pro-fea">
    <div class="land-container">
        <h1 style="text-align:center;margin-bottom:20px">Các cơ hội phía dưới sẽ giúp bạn tiết kiệm chi phí mua sắm</h1>
        <div class="pro-fea-inn">
        </div>
    </div>
</div>

