
@{
    ViewData["Title"] = "Quản lý đối tác";
}

<div class="col-xs-12" ng-controller="IndexController" ng-cloak>
    <div class="card">
        <div class="card-header">
            <div class="card-actions">
                <button type="button" class="card-action card-toggler" title="Collapse"></button>
            </div>
            <strong>Quản lý đối tác</strong>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-bottom:15px" ng-click="Create()"><i class="icon icon-plus-circle"></i> Thêm mới</button>
            <div class="clearfix"></div>
            <table id="tblData" class="table table-bordered table-striped table-hover table-nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%"></table>
        </div>

    </div>
    <!-- Large modal -->
    <div class="modal fade" id="PnModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ UpdateMode ? "Cập nhật" : "Thêm mới" }}</h4>
                </div>
                <!-- form .needs-validation -->
                <form id="frmModal" name="frmModal" class="needs-validation" novalidate="">
                    <!-- /form .needs-validation -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label>
                                Tên đối tác
                            </label>
                            <input type="text" class="form-control" ng-model="Partner.Name" required="">
                        </div>
                        <div class="form-group">
                            <div class="file-drop-area input input-file" root="ProductsImport">
                                <span class="btn btn-outline-primary">Chọn ảnh</span>
                                <span class="file-msg js-set-number">hoặc kéo hình ảnh vào đây</span>
                                <input class="file-input files" type="file" name="file" id="file" accept="image/*" ng-model="Partner.Logo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Mô tả
                            </label>
                            <input type="text" class="form-control" ng-model="Partner.Description">
                        </div>
                    </div>
                    <!-- /.modal-body -->
                    <!-- .modal-footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="frmModal.$invalid" ng-click="Save()">{{ UpdateMode ? "Cập nhật" : "Thêm" }}</button>
                    </div>
                </form>
                <!-- /.modal-footer -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>
<textarea id="des"></textarea>

@section scripts{
    <script>

        CKEDITOR.replace("des");

        // highlight drag area
        var fileinput = document.querySelector('.file-input');
        var filedroparea = document.querySelector('.file-drop-area');
        var jssetnumber = document.querySelector('.js-set-number');
        fileinput.addEventListener('dragenter', isactive);
        fileinput.addEventListener('focus', isactive);
        fileinput.addEventListener('click', isactive);

        // back to normal state
        fileinput.addEventListener('dragleave', isactive);
        fileinput.addEventListener('blur', isactive);
        fileinput.addEventListener('drop', isactive);

        // add Class
        function isactive() {
            filedroparea.classList.add('is-active');
        }

        // change inner text
        fileinput.addEventListener('change', function () {
            var count = fileinput.files.length;
            if (count === 1) {
                // if single file then show file name
                jssetnumber.innerText = fileinput.value.split('\\').pop();
            } else {
                // otherwise show number of files
                jssetnumber.innerText = count + ' files selected';
            }
        });

    </script>
    <script>
        var IndexController = ($scope, $rootScope, $timeout, $filter, $compile, ApiHelper, CommonHelper, UtilFactory, DataFactory, $q, $http) => {
            //#region declare variable
            $scope.UpdateMode = false;
            $scope.Partner = { IsActive: true };
            $scope.Data = [];
            //#endregion

            //#region Datatable
            $(function () {
                var peopleList = $('#tblData').DataTable({
                    "bProcessing": true,
                    "bSort": true,
                    "bServerSide": true,
                    "language": {
                        paginate: {
                            previous: '<i class="icon icon-angle-double-left"></i>',
                            next: '<i class="icon icon-angle-double-right"></i>'
                        }
                    },
                    "sAjaxSource": "/Partners/Data",
                    "aoColumnDefs": [
                        {
                            "sName": "Name",
                            "sTitle": "Tên Partner",
                            "bSearchable": true,
                            "bSortable": true,
                            "aTargets": [0]
                        },
                        {
                            "sName": "Logo",
                            "sTitle": "Logo",
                            "bSearchable": true,
                            "bSortable": true,
                            "aTargets": [1]
                        },
                        {
                            "sName": "Description",
                            "sTitle": "Mô tả",
                            "bSearchable": true,
                            "bSortable": true,
                            "aTargets": [2]
                        },
                        {
                            'mRender': function (data, type, row, meta) {
                                return `
                                    <div class="text-center">
                                        <button class="btn btn-link link-muted btn-xs" type="button" ng-click="Update('` + data + `');" data-toggle="tooltip" data-placement="top" title="Cập nhật">
                                           <span class="icon icon-pencil icon-lg icon-fw"></span>
                                         </button>
                                        <button class="btn btn-link link-muted btn-xs" type="button" ng-click="Delete('` + data + `');" data-toggle="tooltip" data-placement="top" title="Xóa">
                                           <span class="icon icon-trash-o icon-lg icon-fw"></span>
                                         </button>
                                    </div>`;
                            },
                            "sName": "Id",
                            "bSortable": false,
                            "aTargets": [3],
                            "sWidth": "80px"
                        }
                    ],
                    "drawCallback": function (settings) {
                        $('[data-toggle="tooltip"]').tooltip();
                    },
                    createdRow: function (row, data, dataIndex) {
                        $compile(angular.element(row).contents())($scope);
                    }
                });
            });
            //#endregion

            //#region ReadById
            var ReadById = (Id) => {
                let defer = $q.defer();
                $rootScope.MasterPage.IsLoading = true;
                let strApiEndPoint = CommonHelper.PartnerUrl + Id;
                ApiHelper.GetMethod(strApiEndPoint)
                    .then(function (response) {
                        $rootScope.MasterPage.IsLoading = false;
                        $scope.Partner = response.Data;
                        defer.resolve(response);
                    })
                    .catch(function (response) {
                        sys.Alert(false, response.Message);
                        defer.reject(response);
                        $rootScope.MasterPage.IsLoading = false;
                    });
                return defer.promise;
            };
            //#endregion

            //#region Create
            $scope.Create = function () {
                $scope.UpdateMode = false;
                $scope.Partner = {};
                $("#file").val('');
                $(".file-msg").html('hoặc kéo hình ảnh vào đây');
                $('#PnModal').appendTo("body").modal('show');
            };
            //#endregion

            //#region Update
            $scope.Update = function (Id) {
                $scope.UpdateMode = true;
                ReadById(Id);
                $("#file").val('');
                $(".file-msg").html('hoặc kéo hình ảnh vào đây');
                $('#PnModal').appendTo("body").modal('show');
            }
            //#endregion

            //#region Delete
            $scope.Delete = function (Id) {
                swal({
                    title: "Xác nhận xóa?",
                    text: "Một khi đã xóa, bạn không thể khôi phục lại",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $rootScope.MasterPage.IsLoading = true;
                            let strApiEndPoint = CommonHelper.PartnerUrl + Id;
                            ApiHelper.DeleteMethod(strApiEndPoint)
                                .then(function (response) {
                                    $rootScope.MasterPage.IsLoading = false;
                                    $('#tblData').DataTable().ajax.reload(null, false);
                                    sys.Alert(true, 'Xóa thành công!');
                                })
                                .catch(function (response) {
                                    sys.Alert(false, response.Message);
                                    $rootScope.MasterPage.IsLoading = false;
                                });
                        }
                    });
            };
            //#endregion

            //#region Save
            $scope.Save = function () {
                if (document.getElementById("file").files.length > 0) {
                    var formData = new FormData();
                    formData.append(file, document.getElementById("file").files[0]);
                    ApiHelper.PostMethod("/api/FileAPI/UploadFiles", formData, { 'Content-Type': undefined })
                        .then(function (response) {
                            $rootScope.MasterPage.IsLoading = false;
                            $scope.Partner.Logo = response.Data;
                        })
                        .catch(function (response) {
                            sys.Alert(false, response.Message);
                            $rootScope.MasterPage.IsLoading = false;
                        });
                }
                $timeout(function () {
                    if (!$scope.UpdateMode) {
                        $rootScope.MasterPage.IsLoading = true;
                        let strApiEndPoint = CommonHelper.PartnerUrl;
                        ApiHelper.PostMethod(strApiEndPoint, $scope.Partner)
                            .then(function (response) {
                                $rootScope.MasterPage.IsLoading = false;
                                $('#tblData').DataTable().ajax.reload(null, false);
                                sys.Alert(true, 'Thêm thành công');
                            })
                            .catch(function (response) {
                                sys.Alert(false, response.Message);
                                defer.reject(response);
                                $rootScope.MasterPage.IsLoading = false;
                            });
                        $('#PnModal').appendTo("body").modal('hide');
                    }
                    else {
                        $rootScope.MasterPage.IsLoading = true;
                        let strApiEndPoint = CommonHelper.PartnerUrl;
                        ApiHelper.PutMethod(strApiEndPoint, $scope.Partner)
                            .then(function (response) {
                                $rootScope.MasterPage.IsLoading = false;
                                $('#tblData').DataTable().ajax.reload(null, false);
                                sys.Alert(true, 'Cập nhật thành công');
                            })
                            .catch(function (response) {
                                sys.Alert(false, response.Message);
                                defer.reject(response);
                                $rootScope.MasterPage.IsLoading = false;
                            });
                        $('#PnModal').appendTo("body").modal('hide');
                    }
                }, 500);
            };
            //#endregion

            //#region GetAll
            $rootScope.MasterPage.IsLoading = true;
            UtilFactory.WaitingLoadDirective(
                [
                ]).then(() => {
                    $q.all({
                        Partners: DataFactory.Partners_Get(),
                    }).then((MultipleRes) => {
                        $scope.Data = MultipleRes.Partners.Data;
                    });
                }).catch((response) => {
                    throw response;
                });
            $rootScope.MasterPage.IsLoading = false;
            //#endregion
        }
        IndexController.$inject = ["$scope", "$rootScope", "$timeout", "$filter", "$compile", "ApiHelper", "CommonHelper", "UtilFactory", "DataFactory", "$q", "$http"];
        addController("IndexController", IndexController);
    </script>
}